header{
    background-color: gray;
    height: 5vw;
    color:white;
    font-family: Century Gothic;
    width: 100%;
    top: -21px;
    box-shadow: 0px 5px 5px black;
    position: relative;
}

nav{
    width: 81.85%;
    background-color: gray;
    position: relative;
    top: -15px;
    font-family: Century Gothic;
}

aside{
    width: 30%;
    left: 81.8%;
    height: 500px;
    position: absolute;
    top: 102px;
}
footer{
    width:100%;
    height: 100px;
    position: relative;
    top: 35vw;
    background-color: indianred;
    font-family: Century Gothic;
}

nav.principal ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
} 

nav.principal ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

nav.principal ul li a:hover {
    background-color: black;
    color: white;
}


